<!DOCTYPE html>
<html lang="en">
<head>
<title>Calculator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/util.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css"
	href="vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div>
					<span class="login100-form-title"> Media: $mean </span> <span
						class="login100-form-title"> Desviacion: $desvest </span>
				</div>
			
				<form class="login100-form validate-form" action="result">
					<span class="login100-form-title">
						Ingrese una lista de numeros separados por ","
					</span>
					#if(!$valid)
						<span class="login100-form-title">
							Valide los datos
						</span>
					#end
					<div class="wrap-input100">
						<input type='text' name='list' class="input100">
						<span class="focus-input100"></span>
					</div>
					<div class="container-ogin100-form-btn">
						<button class="login100-form-btn">validar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
</body>
</html>